{% extends "SearchEngine/header.html" %}

 {% block content %}
     <body>
     {% load staticfiles %}
     {% load bootstrap3 %}

   <nav class="navbar navbar-default navigation">
  <div class="container-fluid navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="">The Guardian Sports News</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'SearchEngine:home' %}">Search</a></li>
      <li><a href="#">Crawl</a></li>
        <li><a href="#">Classify</a></li>
    </ul>
  </div>
</nav>



     <div class="searchbox">


     <img src="{% static "SearchEngine/images/logo.png" %}" >


     <div class="input-group col-md-8 col-sm-offset-2">
     <!--<div id="custom-search-input">
        -->
           <form action="" method="post"> <!--action="/search/"-->
                {% csrf_token %}
                {% bootstrap_form form %}
             <div class="form-group">

          <!-- <label for="searchquery">Search query: </label>
            <input id="searchquery" type="text" name="searchquery" placeholder="Enter your search query" class="  search-query form-control">
           <!-- <input type="text" class="  search-query form-control" placeholder="Search" />-->
            <!--<span class="input-group-btn">-->
                    <!--
                <button class="btn btn-danger" type="submit"> <!--changed type from button to submit-->
                    <!--<span class=" glyphicon glyphicon-search"></span>
                </button>-->

                     <button type="submit" class="btn btn-primary">
                        Search
                    </button>
             </div>
           </form>
     <!--
        </div>
    </div>-->
     </div>
     </div>





</form>
</body>

 {% endblock %}